First we will cover the basics of the R programming language.

Basic arithmetic can be performed by simplly typing the computation into the console.
The following operators are supported: +, -, *, /, ^ (exponentiation), %% (modulo)

In [ ]:
3 + 4

Variable Assignment
 The <- operator assigns a value to a variable
 You can then print the value by simply typing its name

In [ ]:
var <- 5
var

In [ ]:
# Assign a value to the variables my_apples and my_oranges
my_apples  <- 5
my_oranges <- 6

# Add these two variables together
my_apples + my_oranges

# Create the variable my_fruit
my_fruit <- my_apples + my_oranges


R works with numerous data types. Some of the most basic types to get started are:

- Decimals values like `4.5` are called **numerics**.
- Natural numbers like `4` are called **integers**. Integers are also numerics.
- Boolean values (`TRUE` or `FALSE`) are called **logical**.
- Text (or string) values are called **characters**.

In [ ]:
# Change my_numeric to be 42
my_numeric <- 42.5

# Change my_character to be "universe"
my_character <- "some text"

# Change my_logical to be FALSE
my_logical <- TRUE

# Check class of my_numeric
class(my_numeric)

# Check class of my_character
class(my_character)

# Check class of my_logical
class(my_logical)

Vectors are one-dimension arrays that can hold numeric data, character data, or logical data.
In R, you create a vector with the combine function c(). You place the vector elements separated by a comma between the parentheses.

In [ ]:
numeric_vector <- c(1, 10, 49)
character_vector <- c("a", "b", "c")

# Complete the code for boolean_vector
boolean_vector <-

It is important to know that if you sum two vectors in R, it takes the element-wise sum. For example, the following three statements are completely equivalent:

In [ ]:
c(1, 2, 3) + c(4, 5, 6)
c(1 + 4, 2 + 5, 3 + 6)
c(5, 7, 9)

Factors
The term factor refers to a statistical data type used to store categorical variables. 
This will be very useful when working with datasets with columns that represent categorical data.

In [ ]:
# Animals
animals_vector <- c("Elephant", "Giraffe", "Donkey", "Horse")
factor_animals_vector <- factor(animals_vector)
factor_animals_vector

# Temperature
temperature_vector <- c("High", "Low", "High","Low", "Medium")
factor_temperature_vector <- factor(temperature_vector, order = TRUE, levels = c("Low", "Medium", "High"))
factor_temperature_vector

Importing Data:
We will use the **readr** package to import data into r

read_csv() reads comma delimited files,
read_csv2() reads semicolon separated files ,
read_tsv() reads tab delimited files, 
and read_delim() reads in files with any delimiter.

In [2]:
library(readr)

In [5]:
iris_data <-read_csv('../input/iris.csv')

Parsed with column specification:
cols(
  sepal_length = col_double(),
  sepal_width = col_double(),
  petal_length = col_double(),
  petal_width = col_double(),
  species = col_character()
)

Sometimes there are a few lines of metadata at the top of the file. You can use skip = n to skip the first n lines; or use comment = "#" to drop all lines that start with #.

In [7]:
read_csv("The first line of metadata
  The second line of metadata
  x,y,z
  1,2,3", skip = 2)

read_csv("# A comment I want to skip
  x,y,z
  1,2,3", comment = "#")

  x y z
1 1 2 3

  x y z
1 1 2 3

The data might not have column names. You can use col_names = FALSE to tell read_csv() not to treat the first row as headings, and instead label them sequentially from X1 to Xn:

In [9]:
read_csv("1,2,3\n4,5,6", col_names = FALSE)
read_csv("1,2,3\n4,5,6", col_names = c("x", "y", "z"))

  X1 X2 X3
1 1  2  3
2 4  5  6

  x y z
1 1 2 3
2 4 5 6